*{
	user-select: none;
	-webkit-touch-callout: none;
}

.gadget-items {
  display: flex;
  flex-direction: column;
}

.scroll {
  overflow-y: auto;
  height: 100%;
}

#svg-container {
  display: flex;
  align-items: center;
  height: 100%;
}
