*{
	user-select: none;
	-webkit-touch-callout: none;
}

.gadget-items {
  display: flex;
  flex-direction: column;
}

.scroll {
  overflow-y: auto;
  height: 100%;
}

#msg-box {
	padding: 15px;
	min-height: 20px;
	background-color: powderblue;
	margin: auto;
}

#msg {
	text-align:center;
	color: black;
	font-family:Georgia,"Times New Roman",Times,serif;
}



#svg-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.tooltipNextButton {
	position: absolute;
	font-size: small;
	color: red;
  bottom: 30px;
  right: 70px;
}
