<div class="container">
  <md-input-container class="full-width">
    <input mdInput #texto [value]="gadget.label" placeholder="Texto do botão" (blur)="updateLabel(texto.value)" (keyup.enter)="updateLabel(texto.value)">
  </md-input-container>
  <md-input-container class="full-width">
    <input mdInput #identificador [value]="gadget.identifier" placeholder="Identificador" (blur)="updateIdentifier(identificador.value)" (keyup.enter)="updateIdentifier(identificador.value)">
  </md-input-container>
</div>
