<div #toolbar>
  <span class="ql-formats">
    <select class="ql-font">
      <option value="sans" selected>Sans-serif</option>
      <option value="satisfy">Mirza</option>
      <option value="roboto">Roboto</option>
      <option value="josefin">Josefin</option>
      <option value="arvo">Arvo</option>
      <option value="macondo">Macondo</option>
    </select>
    <select class="ql-size">
      <option value="small">Pequeno</option>
      <option selected>Normal</option>
      <option value="large">Grande</option>
      <option value="huge">Enorme</option>
    </select>
    <button class="ql-bold"></button>
    <button class="ql-italic"></button>
    <button class="ql-underline"></button>
    <button class="ql-list" value="bullet"></button>
    <button class="ql-list" value="ordered"></button>
    <select class="ql-align">
      <option selected></option>
      <option value="center"></option>
      <option value="right"></option>
      <option value="justify"></option>
    </select>
    <select class="ql-header">
      <option value="1">Título 1</option>
      <option value="2">Título 2</option>
      <option selected>Normal</option>
    </select>
    <button class="ql-image"></button>
    <button class="ql-variable">Var</button>
    <!--<select class="ql-color">
      <option selected></option>
      <option value="red"></option>
      <option value="orange"></option>
      <option value="yellow"></option>
      <option value="green"></option>
      <option value="blue"></option>
      <option value="purple"></option>
    </select>
    <select class="ql-background">
      <option selected></option>
      <option value="red"></option>
      <option value="orange"></option>
      <option value="yellow"></option>
      <option value="green"></option>
      <option value="blue"></option>
      <option value="purple"></option>
    </select>-->
  </span>
</div>