@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'theme';
@import 'variables';
@import 'utilities';
@import 'ui';
@import 'logic';
@import 'controls';


html, body {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  overflow-x: hidden;
  height: 100%;
  width: 100%;

	display: block;
	position: absolute;
	top: -1px;
	z-index: 1;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}
